html{
    height: 100%;
}
body{
    background-color: white;
}
.ust-kisim{
    height: 174px;
}
.nav-img{
    width:12px; 
    margin-left: 85px; 
    margin-top: 12px; 
}
.nav-a{
    font-size: 10px;
    color: #9D9D9D;
}
.nav{
    height: 36px;
    background-color: #2B2B2B;
}
.nav-font1{
    font-size: 13px;
    color: #FFFFFF;
    text-align: center;
}
.header-main-logo{
    color: #304835;    
    position: (690px, 65px);
    width: 167;
    height: 27;
    grid-template: Custom;
} 
.logo-acme{
    position: (3px, -4px);
    width: 92px;
    height: 36px;
    font-weight: 700px;
    font-size: 30px;
    color: #304835;
    text-align: center;
    vertical-align: top;
}
.logo-inc{
    position: (113.5px, -4px);
    width: 53;
    height: 36;
    color: #304835;
    text-align: center;
    vertical-align: top;

}
span{
    position: (102.75px, 0.51px);
    width: 3.01;
    height: 26.19;
    color: #F1FF00;
} 
.container{
    width: 25%;
}

